

.overlay{
  background-color: grey;
  position: fixed;
  top: 0%;
  left:0%;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.5;
}
.slides {
  position:absolute;
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: grey;

  box-shadow:0 4px 12px rgba(0, 0, 0, 0.08);
  left: 0%;
  top:12.5%;
  

  width: auto;
  min-height: 1000px;
  background-color: #f5f5f5;


}

input {
  width: 200px;
  height: 70px;
  font-size:25px;
  
  outline: none;
  
}
input:focus{
  border: 2px solid blue;
}

#register, #login{
  border-radius: 999px;
  width: 200px;
  height: 50px;
  background-color: blue;
  color: white;
  padding: 30px 15px;
  font-size:25px;
  display:flex;
  justify-content:center;
  align-items:center;
  position: relative;
  top: 150px;

}

button:hover{
  cursor:pointer;

}
#add_element {
  position: absolute;
  top: 25%;
  left: 90%;
}
.currentslide{
  position: absolute;

  left: 35%;
  top: 20%;
  width: 700px;
  height: 350px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);;
}

.slide{
  position: relative;
  background-color: white;
  width: 400px;
  height: 300px;
  left: 50px;
  margin:auto;


  box-shadow:0 4px 12px rgba(0, 0, 0, 0.08);

}

.addslide{
  position: relative;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  font-size: 25px;
  padding: 50px 50px;
  left: 400px;
  top: 500px;


  width: 300px;
  height: 200px;
}
.addslidebutton{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.docs{
  position: relative;
  top: 700px;
  padding: 30px;
  display: grid;
  width: 1000px;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.doc{
  position: relative;
  width: 400px;
  height: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

}

.doc_button {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#input_div {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 500px;
  height: 400px;
  background-color: white;
  padding: 10px 10px;
  border-radius: 5%;


}

#input_div input, #input_div select{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 400px;
  z-index: 3;
  border: 1px solid black;
  padding: 0px 10px;

}
#input_div input:focus{
  border: 2px solid blue
}

#input_div button {
  position: absolute;
  top: 65%;
  left: 30%;
  border-radius: 999px;
  width: 200px;
  height: 50px;
  background-color: blue;
  color: white;
  padding: 30px 15px;
  font-size:25px;
  display:flex;
  justify-content:center;
  align-items:center;
  transition: all 0.3s ease
  

}

#input_div button:hover{
  background-color: rgb(0, 136, 255);
  

}
#add{
  z-index :2;

  position: absolute;
  top: 0%;
  left: 0%;

  width: 100%;
  height: 100%;

}

#create {
  position: relative;
  top: 550px;

  width: 500px;
  height: 400px;



}

img{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#layout{
  background-color: black;
  position: absolute;
  width: 100%;
  color: white;
  height: 15%;
  padding: 15px 10px;
  
}

#layout ul li button{
  
  gap: 40px;
  color:white;
  background-color:black;
  outline:none;
}
#layout li{
  color:white;
}
#username {
  position: absolute;

  width: 25%;
  left: 40%;
  top: 50%;
  padding: 2px 3px;
}

#password {
  box-shadow: none;
  position: absolute;
  width: 25%;
  left: 40%;
  top: 65%;
  padding: 2px 3px;

}


#register {
  position: absolute;
  top: 75%;
  left: 50%;

}